services:
  apache:
    profiles: [apache]
    env_file:
      - .env
    build:
      context: .
      dockerfile: docker/apache/Dockerfile
    volumes:
      - ./:/var/www/html
    ports:
      - "80:80"

  php:
    profiles: [nginx]
    image: php:8.3-fpm-alpine
    env_file:
      - .env
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html

  nginx:
    profiles: [nginx]
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html:ro
      - ./my-own-nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php